     1. Basics

In [72]:
x=10
y=2.34
f="This is a string"
print(type(x)) 
print(type(y)) 
print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>

    2.String

In [73]:
name ="Anshuman"
name

'Anshuman'

In [74]:
text="  P yth on   "
print(text.upper())
print(text.lower())
print(text.endswith("man"))
print(text.count("n"))
print(text.strip(" "))
print(text.replace("yth","hhh"))
print(text.split())

  P YTH ON
  p yth on
False
1
P yth on
  P hhh on
['P', 'yth', 'on']

In [75]:
s="This time its all over"
print(s[0:4])
print(s[-8:-3])

This
all o

    3. Operators

In [77]:
a=10
b=13
print(a**b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

10000000000000
23
-3
130
0.7692307692307693
0
10

    4. User Input

In [78]:
a=input("Used for string input ")

In [79]:
b=input("Inout for an actual number")

In [80]:
print(a+b)

23

In [81]:
print(int(a)+int(b))

5

    5. Operator presedence

In [82]:
result= (10*2)+45+33**3*(3)-1212/3
print(result)

107472.0

    6.  Conditionals statements

In [83]:
a=23
if(a>3):
    print("A is greater than 3")
elif(a<0):
    print("A is positive")
else:
    print("A ki maaka bhosda")

A is greater than 3

In [84]:
def greet():
    print("This is a formal greeting")
greet()

This is a formal greeting

In [85]:
b=4
def matching(b):
    match b:
        case 1: 
            print('A') 
        case 2: 
            print('b') 
        case 3: 
            print('c') 
        case _:
            print("Maachuda")
matching(b)

Maachuda

    7. F-string

In [86]:
name= "Anshuman"
print("My name is {}",format(name)) 
print(f"My name is {name}") 
print(f"One more use is operations {10+22}") 
print(f"{'Left-align ':<30}") 
print(f"{'Right-align ':>30}") 
print(f"{'Center-align ':^30}")

My name is {} Anshuman
My name is Anshuman
One more use is operations 32
Left-align
                  Right-align
        Center-align

    8. Loops

In [87]:
l=[1,23,4,5,67]
for i in l:
    print(i)

1
23
4
5
67

In [88]:

for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [89]:
count=1
while count<2:
    print(count)
    count=count+1

1

In [90]:
for item in l:
    pass
print("Hello")

Hello

In [91]:
for i in range(33):
    if i ==2:
        continue
    if i== 23:
        break
    print(i)

0
1
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

    9. List

In [92]:
l=[13,3454,6,7,454]
print(l[3])
l[3]=233
for i in l:
    print(i)
print(l.index(233))
l.append(233)
print(l)
l2=[2343,5775]
l.extend(l2)
print(l)
l.insert(1,34)
print(l)
number = l.pop(3)
print(l)
print(number)

7
13
3454
6
233
454
3
[13, 3454, 6, 233, 454, 233]
[13, 3454, 6, 233, 454, 233, 2343, 5775]
[13, 34, 3454, 6, 233, 454, 233, 2343, 5775]
[13, 34, 3454, 233, 454, 233, 2343, 5775]
6

In [93]:
l.count(233)

2

In [94]:
print(l)
sorted(l)
print(l)

[13, 34, 3454, 233, 454, 233, 2343, 5775]
[13, 34, 3454, 233, 454, 233, 2343, 5775]

In [95]:
print(l)
l.sort()
print(l)

[13, 34, 3454, 233, 454, 233, 2343, 5775]
[13, 34, 233, 233, 454, 2343, 3454, 5775]

In [99]:
list1=[12,34,[232,33]]
print(list1[2][1])
list2=[2,34,56,6]
print(list1+list2)

33
[12, 34, [232, 33], 2, 34, 56, 6]

In [100]:
s="Anshuman-is-a-god "
s.split("-")

['Anshuman', 'is', 'a', 'god ']

    10 .Tupple

In [ ]:
e=(1,2,2,3,4,5,5)
type(e)
print(len(e))

7

In [104]:
person=("Anshuman",2,"God")#Packing
#unpacking
name,age,kya=person
print(name) 
print(age) 
print(kya)

Anshuman
2
God

    11. Sets

In [107]:
empty_set=set()
print(type(empty_set))
empty_dic={}
print(type(empty_dic))

s={1,2,3,4,5}
print(s)
print(type(s))

<class 'set'>
<class 'dict'>
{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
unique_number=set([1,2,2,2,3,4,4,5])
print(unique_number)

{1, 2, 3, 4, 5}

In [118]:
s={1,343,54,54,5465,45,6}
s.add(22)
print(s)
s.update([54,232,67,232])
print(s)
print(s.remove(1))
print(s.discard(3))

{1, 6, 54, 22, 5465, 45, 343}
{1, 67, 6, 22, 343, 5465, 232, 45, 54}
None
None

In [116]:
s1={1,343,54,54,5465,45,6}
s2={1,2,3,4,5,67,8,9}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))
print(s1.issubset(s2))
print(s1.issuperset(s2))

{1, 2, 3, 4, 5, 6, 67, 8, 9, 45, 54, 343, 5465}
{1}
{6, 45, 54, 343, 5465}
{2, 3, 4, 5, 67, 6, 8, 9, 45, 54, 343, 5465}
False
False

    12.  Dictionary

In [132]:
student={
    "name" : "Anshuman",
    "age"  : 223,
    "Kya" :"God-Butcher"
}
print(student["name"])
student["age"]=23
print(student["age"])
print(student.get("name2"))
print(type(student))

print(student.keys())
print(student.values())
print(student.items())
print(student.get("age",0))
student.update({"name" : "God"})
print(student)
student.update({"name" : "Anshuman", "language" : "Hindi"})
print(student)

Anshuman
23
None
<class 'dict'>
dict_keys(['name', 'age', 'Kya'])
dict_values(['Anshuman', 23, 'God-Butcher'])
dict_items([('name', 'Anshuman'), ('age', 23), ('Kya', 'God-Butcher')])
23
{'name': 'God', 'age': 23, 'Kya': 'God-Butcher'}
{'name': 'Anshuman', 'age': 23, 'Kya': 'God-Butcher', 'language': 'Hindi'}

    13. File handling

In [ ]:
f=open("text.txt","r")
f.read()
f.close()

'anshuman'

In [135]:
f=open("text.txt","w")
s="This time complete the course"
f.write(s)
f.close()

In [ ]:
f=open("text.txt","a")
s="\nPura kar ke hi manna hai comrade"
f.write(s)
f.close()

In [137]:
with open ("text.txt","r") as f:
    content=f.read()
    print(content)

This time complete the coursePura kar ke hi manna hai comrade

    14. JSON Module

In [140]:
import json
obj={"name" : "Anshuman","age" : 23}
print(type(obj))
s=json.dumps(obj)
print(type(s))
print(s)

<class 'dict'>
<class 'str'>
{"name": "Anshuman", "age": 23}

In [142]:
d= json.loads('{"Name" : "anshuman" }')
print(type(d))
print(d)

<class 'dict'>
{'Name': 'anshuman'}

In [143]:
file = open("data.json","w")
json.dump(d,file)
file.close()

    15. OOPs

In [146]:
class Emp:
    company="Hp"
    def __init__(self,name,sal):
        self.name=name 
        self.sal=sal
     
    def printDetails(self):
        print(f"The company is {self.name}.ent with the support of {self.company} with salary of {self.sal} ")
    @staticmethod
    def printTime():
        print(f"The time is now")

    @classmethod
    def companyDetails(cls):
        print(f"The Supporting company is  {cls.company}")

e=Emp("Anshuman",123234)
e.printDetails()
e.companyDetails()
e.printTime()

The company is Anshuman.ent with the support of Hp with salary of 123234
The Supporting company is  Hp
The time is now

    16. List Comprehension

In [148]:
table=[]
for i in range (1,21):
    table.append(i*2)
print (table)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [153]:
table=[2*i for i in range (1,21) ]
print(table)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [154]:
table=[2*i for i in range (1,21) if (i%2)==0 ]
print(table)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

    17. Lambda Functions

In [155]:
cube=lambda x : x**3
print(cube(3))

27

In [161]:
s=lambda x,y : x+y 
s(23,34)

57

In [159]:
def func1(a):
    ans=lambda x : x**2
    return ans

a=func1(33)
print(a(33))

1089