In [2]:
import pandas as pd

1.Series

In [3]:
s=pd.Series([2,3,45,5,6])
print(s)
print(type(s))

0     2
1     3
2    45
3     5
4     6
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
s2=pd.Series([1,3,4,],index=["A",'b',"c"]) #Custom index
print(s2)

A    1
b    3
c    4
dtype: int64

DataFrames

In [5]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}
 
df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [6]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
df.columns

Index(['name', 'age', 'city'], dtype='object')