In [2]:
import pandas as pd

In [4]:
df= pd.read_csv("data.csv")
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [6]:
df["Actor"]
df["Actor"][3]

'Ranbir Kapoor'

In [9]:
df[["Actor","IMDb"]]

                 Actor  IMDb
0       Shah Rukh Khan   7.2
1          Salman Khan   6.0
2           Aamir Khan   8.4
3        Ranbir Kapoor   5.6
4        Ranveer Singh   7.0
5   Ayushmann Khurrana   8.3
6        Rajkummar Rao   7.5
7       Hrithik Roshan   6.5
8         Akshay Kumar   7.0
9        Kartik Aaryan   5.9
10        Varun Dhawan   6.1
11       Vicky Kaushal   8.2

In [ ]:
df.loc[0] #Value at row 0,

Actor                   Shah Rukh Khan
Film                           Pathaan
Year                              2023
Genre                           Action
BoxOffice(INR Crore)              1050
IMDb                               7.2
Name: 0, dtype: object

In [ ]:
df.iloc[1] #Value at row 0, column at index 1

Actor                       Salman Khan
Film                    Tiger Zinda Hai
Year                               2017
Genre                            Action
BoxOffice(INR Crore)                565
IMDb                                6.0
Name: 1, dtype: object

In [ ]:
df.loc[5,"IMDb"] #Searching through a particular column using its name

8.3

In [ ]:
df.iloc[5,5] #%th row and 5th column

8.3

In [16]:
df.loc[0:3,["Actor","IMDb","Film"]]

            Actor  IMDb             Film
0  Shah Rukh Khan   7.2          Pathaan
1     Salman Khan   6.0  Tiger Zinda Hai
2      Aamir Khan   8.4           Dangal
3   Ranbir Kapoor   5.6       Brahmastra

In [19]:
df.iloc[0:3,0:3]

            Actor             Film  Year
0  Shah Rukh Khan          Pathaan  2023
1     Salman Khan  Tiger Zinda Hai  2017
2      Aamir Khan           Dangal  2016

single element access

In [20]:
df.at[0,"Actor"]

'Shah Rukh Khan'

In [21]:
df.iat[0,0]

'Shah Rukh Khan'

filtering

In [29]:
df[(df["IMDb"]>7) & (df["Year"]>2018 )  ][["Actor","Film"]]

             Actor                      Film
0   Shah Rukh Khan                   Pathaan
11   Vicky Kaushal  Uri: The Surgical Strike

In [33]:
df.query("Year> 2018 and IMDb > 8 or (`BoxOffice(INR Crore)`) >600")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [34]:
df2=df[['Actor',"IMDb"]]
df2

                 Actor  IMDb
0       Shah Rukh Khan   7.2
1          Salman Khan   6.0
2           Aamir Khan   8.4
3        Ranbir Kapoor   5.6
4        Ranveer Singh   7.0
5   Ayushmann Khurrana   8.3
6        Rajkummar Rao   7.5
7       Hrithik Roshan   6.5
8         Akshay Kumar   7.0
9        Kartik Aaryan   5.9
10        Varun Dhawan   6.1
11       Vicky Kaushal   8.2

In [37]:
df2.loc[0,'Actor']="Anshuman"
df2

                 Actor  IMDb         0
0             Anshuman   7.2  Anshuman
1          Salman Khan   6.0  Anshuman
2           Aamir Khan   8.4  Anshuman
3        Ranbir Kapoor   5.6  Anshuman
4        Ranveer Singh   7.0  Anshuman
5   Ayushmann Khurrana   8.3  Anshuman
6        Rajkummar Rao   7.5  Anshuman
7       Hrithik Roshan   6.5  Anshuman
8         Akshay Kumar   7.0  Anshuman
9        Kartik Aaryan   5.9  Anshuman
10        Varun Dhawan   6.1  Anshuman
11       Vicky Kaushal   8.2  Anshuman

In [38]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2